.docs-footer{
  padding: 50px 0;
  margin-top: 60px;
  color: #99979c;
  text-align: left;
  background-color: #2a2730;
  a{
    color: #fff;
  }
}

.docs-footer-links{
  padding-left: 0;
  margin-bottom: 20px;
  li{
    display: inline-block;
  }
  li + li{
    margin-left: 20px;
  }
}