.docs-header{
  margin-bottom: 30px;
  padding: 60px 0;
  text-align: left;
  font-size: 24px;
  color: #cdbfe3;
  background-color: #6f5499;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}