.docs-header{
  margin-bottom: 30px;
  padding: 60px 0;
  text-align: left;
  font-size: 24px;
  color: #cdbfe3;
  background-color: #6f5499;
  .version{
    margin: 0 0 30px;
    color: #9783b9;
    font-size: 14px;
  }
}