.btn {
  &.btn-default-primary,
  &.btn-primary-base,
  &.btn-primary-base-border {
    .glyphicon {
      color: $brand-primary;
    }
  }

  &.btn-default-light {
    &:hover {
      .glyphicon {
        color: $brand-primary;
      }
    }
    &:active,
    &.active {
      .glyphicon {
        color: #FFF;
      }
    }
  }

  &.btn-default-base,
  &.btn-default-base-light {
    &:hover,
    &:active,
    &.active {
      .glyphicon {
        color: $brand-primary;
      }
    }
  }

  &.btn-primary,
  &.btn-primary-light,
  &.btn-success,
  &.btn-info,
  &.btn-warning,
  &.btn-danger {
    .glyphicon {
      color: #FFF;
    }
  }

  &.btn-default-gray {
    &:hover,
    &:active,
    &.active {
      .glyphicon {
        color: lighten($brand-base, 15%);
      }
    }
  }
}
