/**
 * sidebar
 */

$single-height: 34px;

@mixin menu-title {
  display: block;
  position: relative;
  height: $single-height;
  line-height: $single-height;
  font-size: 14px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
@mixin default-dot {
  display: block;
  position: absolute;
  top: 50%;
  left: 17px;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-radius: 50%;
}

@mixin menu-icon {
  display: block;
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.app-sidebar {
  position: fixed;
  z-index: 50;
  width: 240px;
  height: 100%;
  background-color: #2F323A;

  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: #1B1D23;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #a5a5a5;
    &:hover {
      background-color: #7d7d7d;
    }
  }

  .logo-wrapper {
    display: block;
    position: relative;
    height: 54px;
    background-color: $brand-primary;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .search-wrapper {
    visibility: hidden;
    position: relative;
    padding: 10px 12px 10px;
    .input-search {
      padding-left: 27px;
      padding-right: 27px;
      border: 1px solid #FFF;
      border-radius: 14px;
      box-shadow: none;
      background-color: transparent;
      color: #FFF;
    }
    .glyphicon {
      color: #FFF;
    }
    .glyphicon-search {
      position: absolute;
      top: 18px;
      left: 21px;
    }
    .glyphicon-remove-circle {
      display: none;
      position: absolute;
      top: 17px;
      right: 18px;
      font-size: 16px;
      cursor: pointer;
      &.active {
        display: block;
      }
    }
  }
  .menu-wrapper {
    visibility: hidden;
    position: relative;
    height: calc(100% - 54px);
    overflow-y: auto;
    &.with-search {
      height: calc(100% - 54px - 48px);
    }
    >.menu-group {
      height: $single-height;
    }
  }
  .menu-group {
    height: $single-height;
    overflow: hidden;
  }
  .menu-title {
    @include menu-title;
    padding-left: 40px;
    padding-right: 35px;
    color: #FFF;
    i.default-dot {
      @include default-dot;
      background-color: #FFF;
    }
    i.menu-dot {
      display: block;
      position: absolute;
      top: 50%;
      right: 25px;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      border-radius: 50%;
      background-color: #FFF;
    }
    i.iconfont {
      @include menu-icon;
    }
    &.active, &:hover {
      i.menu-dot {
        background-color: $brand-primary;
      }
    }
  }
  .menu-sub-title {
    @include menu-title;
    padding-left: 40px;
    padding-right: 35px;
    background-color: #1B1D23;
    color: #A5A7AB;
    height: 34px;
    line-height: 34px;
    &:hover {
      color: #FFF;
    }
    i.default-dot {
      @include default-dot;
      background-color: #A5A7AB;
    }
    i.iconfont {
      @include menu-icon;
    }
    i.menu-triangle {
      display: block;
      position: absolute;
      top: 50%;
      right: 25px;
      width: 0;
      height: 0;
      line-height: 0;
      margin-top: -4px;
      border-left: 6px solid #A5A7AB;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      transform: rotate(0deg);
      transition: transform 0.15s;
    }
    @for $i from 1 through 10 {
      &.sub-#{$i} {
        padding-left: #{40 + 10 * ($i - 1)}px;
        .default-dot {
          left: #{23 + 10 * ($i - 1)}px;
          top: $single-height / 2;
        }
        .iconfont {
          left: #{20 + 10 * ($i - 1)}px;
        }
      }
    }
    &:hover {
      i.menu-triangle {
        border-left-color: $brand-primary;
      }
    }
    &.active {
      i.menu-triangle {
        transform: rotate(90deg);
      }
    }
    &.no-transition {
      i.menu-triangle {
        transition-duration: 0s;
      }
    }
    &.selected {
      background-color: #0C0D0D;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: $brand-primary;
      }
    }
  }
}

.sidebar-always-visible .search-wrapper,
.sidebar-component-inited .search-wrapper,
.sidebar-always-visible .menu-wrapper,
.sidebar-component-inited .menu-wrapper {
  visibility: visible !important;
}
