/**
 * sidebar
 */

@mixin menu-title {
  display: block;
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
@mixin default-dot {
  display: block;
  position: absolute;
  top: 17px;
  left: 17px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

@mixin menu-icon {
  display: block;
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.app-sidebar {
  position: fixed;
  z-index: 50;
  width: 240px;
  height: 100%;

  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: #1B1D23;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #a5a5a5;
    &:hover {
      background-color: #7d7d7d;
    }
  }

  .logo-wrapper {
    display: block;
    position: relative;
    height: 54px;
    background-color: $brand-primary;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .menu-wrapper {
    position: relative;
    height: calc(100% - 54px);
    overflow-y: auto;
    background-color: #2F323A;
  }
  .menu-group {
    height: 34px;
    overflow: hidden;
  }
  .menu-title {
    @include menu-title;
    padding-left: 40px;
    padding-right: 35px;
    color: #FFF;
    i.default-dot {
      @include default-dot;
      background-color: #FFF;
    }
    i.menu-dot {
      display: block;
      position: absolute;
      top: 17px;
      right: 25px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #FFF;
    }
    i.menu-icon {
      @include menu-icon;
      // CMDB
      &.icon-cmdb {
        width: 17px;
        height: 16px;
        background-position: -1px -6px;
      }
    }
    &.active, &:hover {
      i.menu-dot {
        background-color: $brand-primary;
      }
    }
  }
  .menu-sub-title {
    @include menu-title;
    padding-left: 40px;
    padding-right: 35px;
    background-color: #1B1D23;
    color: #A5A7AB;
    height: 34px;
    line-height: 34px;
    &:hover {
      color: #FFF;
      i.menu-icon {
        // 基础配置项
        &.icon-basic-config {
          background-position: -34px -20px;
        }
        // 服务中间件
        &.icon-service-middleware {
          background-position: -63px -21px;
        }

        // 业务应用
        &.icon-business-applications {
          background-position: -94px -21px;
        }
        // CI管理
        &.icon-ci-manage {
          background-position: -127px -21px;
        }
      }
    }
    i.default-dot {
      @include default-dot;
      background-color: #A5A7AB;
    }
    i.menu-icon {
      @include menu-icon;
      // 基础配置项
      &.icon-basic-config {
        width: 13px;
        height: 12px;
        left: 14px;
        background-position: -34px 1px;
      }

      // 服务中间件
      &.icon-service-middleware {
        width: 14px;
        height: 12px;
        background-position: -63px 0;
      }

      // 业务应用
      &.icon-business-applications {
        width: 12px;
        height: 11px;
        background-position: -94px 0;
      }
      // CI管理
      &.icon-ci-manage {
        width: 13px;
        height: 13px;
        background-position: -127px -1px;
      }

    }
    i.menu-triangle {
      display: block;
      position: absolute;
      top: 16px;
      right: 25px;
      width: 0;
      height: 0;
      line-height: 0;
      border-left: 6px solid #A5A7AB;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      transform: rotate(0deg);
      transition: transform 0.15s;
    }
    @for $i from 1 through 10 {
      &.sub-#{$i} {
        padding-left: #{40 + 10 * ($i - 1)}px;
        .default-dot {
          left: #{23 + 10 * ($i - 1)}px;
          top: 14px;
        }
        .menu-icon {
          left: #{20 + 10 * ($i - 1)}px;
        }
      }
    }
    &:hover {
      i.menu-triangle {
        border-left-color: $brand-primary;
      }
    }
    &.active {
      i.menu-triangle {
        transform: rotate(90deg);
      }
    }
    &.no-transition {
      i.menu-triangle {
        transition-duration: 0s;
      }
    }
    &.selected {
      background-color: #0C0D0D;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: $brand-primary;
      }
    }
  }
}
