.slider-component {
  display: inline-block;
  margin-bottom: 25px;
  .rc-slider {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 10px;
    border-radius: 0;
    background-image: linear-gradient(-90deg, #FE4D26 0%, #FFA400 51%, #10C953 100%);
    cursor: pointer;
    .custom-slide-handle {
      position: absolute;
      z-index: 1;
      top: -3px;
      width: 12px;
      height: 16px;
      cursor: pointer;
      background-color: #FFFFFF;
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
      .stripes-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 4px;
        height: 6px;
        margin: auto;
        .stripe {
          float: left;
          width: 1px;
          height: 100%;
          margin-right: 2px;
          background-color: #000;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .rc-slider-track {
      height: 100%;
      border-radius: 0;
    }
    .rc-slider-mark {
      position: absolute;
      left: 0;
      width: 100%;
      font-size: 12px;
      z-index: 3;
      top: 5px;
      .rc-slider-mark-text {
        transform: translate(6px,12px);
        color: #999;
        font-size: 12px;
        white-space: nowrap;
        display: inline-block;
        user-select: none;
        position: absolute;
        text-align: center;
        &.active {
          .text-0 {
            color: #10C953;
          }
          .text-1 {
            color: #B1AF3C;
          }
          .text-2 {
            color: #FF8731;
          }
          .text-3 {
            color: #FE4D26;
          }
        }
      }
    }
    .rc-slider-step {
      display: none;
    }
  }
}
