/**
 * table
 */

.table-wrapper {
  visibility: hidden;

  &.table-always-visible,
  &.table-component-inited {
    visibility: visible;
  }

  .table-element-wrapper {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 5px;

    .table {
      margin-bottom: 12px;
    }
  }

  th {
    &.sort {
      cursor: pointer;

      .glyphicon {
        margin-left: 5px;
        color: $brand-primary;
      }
    }
  }

  .first-column {
    width: 36px;
  }

  .table-config {
    cursor: pointer;
  }

  .cell-hide {
    display: none;
  }

  .check-all-wrapper {
    display: inline-block;
    width: 36px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .checkbox-wrapper {
    width: 14px;
  }
  .checkbox-wrapper, .check-all-wrapper {
    input[type=checkbox] {
      visibility: hidden;
      margin: 0;
    }
    .checkbox-label {
      cursor: pointer;
      width: 14px;
      height: 14px;
      border: 1px solid #d4d4d4;
      margin-bottom: 0;
      border-radius: 2px;
      vertical-align: middle;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 8px;
        top: 2px;
        left: 1px;
        background-image: url("../img/icons/status-icons.svg");
        background-position: -97px -1px;
      }
      &:hover {
        border: 1px solid #e2003b;
        box-shadow: 0 0 2px #e2003b;
        cursor: pointer;
      }
      &.active {
        border-color: #e2003b;
        background-color: #e2003b;
      }
    }
  }
}
.table-bottom {
  height: 32px;
  line-height: 32px;
  .pagination {
    margin: 0;
    float: right;
  }
}
