@import 'variable';

/**
 * transfer
 */

.transfer-wrapper {
  height: 410px;
  visibility: hidden;

  &.transfer-always-visible,
  &.transfer-component-inited {
    overflow: hidden;
    visibility: visible;
  }

  .transfer-left, .transfer-right {
    float: left;
    width: 350px;
    overflow: hidden;
  }

  .transfer-btns {
    float: left;
    margin-top: 160px;
    margin-left: 18px;

    .btn {
      display: block;
      width: 32px;
      height: 32px;
      line-height: 16px;
      margin-bottom: 10px;
      padding: 8px;
      text-align: center;
    }
  }

  .bootstrap-select {
    display: block !important;
    float: left !important;

    .dropdown-toggle {
      display: none !important;
    }

    .dropdown-menu {
      display: block !important;
      position: relative;
      box-shadow: none;

      &.open {
        height: 348px !important;
        max-height: 348px !important;
        min-height: 348px !important;
      }

      &.inner {
        max-width: 280px;
        height: 336px !important;
        max-height: 336px !important;
        min-height: 336px !important;
        overflow-x: hidden;
        overflow-y: auto;

        > li {
          > a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      > .active {
        > a {
          background-color: transparent;
          color: $gray-dark;
        }
      }

      .bs-searchbox {
        padding-top: 0px;
        padding-bottom: 2px;
      }
    }

    &.select-left {
      .dropdown-menu {
        &.inner {
          height: 308px !important;
          max-height: 308px !important;
          min-height: 308px !important;
        }
      }
    }
  }
}
